/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Styles */
.navbar {
    padding: 10px 0;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #007bff;
}



nav{
	position: relative;
	display: flex;
}

nav a {
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	cursor: pointer;
	margin: 0px 20px;
    padding: 10px 0;
    font-weight: bold;
    color: #333333;
    transition: color 0.3s ease;
    cursor: pointer;
}

nav a.active {
    text-decoration: none !important;
}

nav #marker{
	position: absolute;
	bottom: -11px;
	left: 0;
	background-color:#007bff;
	width: 0;
	height: 4px;
	transition: 0.5s; 
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}


/* Section Styles */
section {
    height: 100vh;
    padding: 80px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box; 
}

#home { background-color: pink; }
#services { background-color: rgb(148, 65, 65); }
#about { background-color: pink; }
#contact { background-color: rgb(148, 65, 65); }
#feedback { background-color: pink; }

/* Button Styles */
.btn {
	font-size: 14px;
	font-weight: bold;

	&.btn-primary {
		color: rgb(194, 114, 114);
	}

	&.rounded {
		border-radius: 50px !important;
	}

	&.w-sm {
		min-width: 100px;
	}

	&.w-md {
		min-width: 130px;
	}

	&.w-lg {
		min-width: 160px;
	}
}
