/* Preloader Styling */
.preloader {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(255, 255, 255, 0.8); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 9999; 
}

.printer {
    position: relative;
    width: 120px; 
    height: 120px; 
}

.printer-top {
    width: 80px;
    height: 20px;
    background: #666; 
    border-radius: 10px 10px 0 0; 
    position: absolute;
    top: 0;
    left: 20px; 
}

.paper-input-slot {
    width: 80px;
    height: 10px;
    background: #444; 
    border-radius: 3px; 
    position: absolute;
    top: 20px; 
    left: 20px; 
}

.printer-body {
    width: 120px;
    height: 60px; 
    background: #333; 
    border-radius: 5px; 
    position: absolute;
    top: 30px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.paper {
    width: 80px;
    height: 50px; 
    background: #fff; 
    border: 2px solid #333; 
    border-radius: 3px; 
    position: relative;
    animation: paper-print 2s infinite; 
}

.printer-tray {
    width: 100px;
    height: 10px;
    background: #333; 
    border-radius: 0 0 5px 5px; 
    position: absolute;
    bottom: 0; 
}

@keyframes paper-print {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(20px); 
    }
    100% {
        transform: translateY(0); 
    }
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0px 20px;
    width: 90%;
}

.table-container {
    overflow-x: auto; 
    width: 100%; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
    font-family: Arial, sans-serif; 
}

th, td {
    text-align: left; 
    padding: 12px; 
    border: 1px solid #ddd; 
}

th {
    background-color: #f2f2f2; 
    color: #333; 
    font-weight: bold; 
    text-align: center; 
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}

tr:hover {
    background-color: #f1f1f1; 
}


@media screen and (max-width: 600px) {
    .table-container {
        padding: 0 10px; 
        overflow-x: auto;
    }

    table {
        white-space: nowrap; 
    }

    th, td {
        width: 100%; 
    }

    th {
        background-color: #f0f0f0; 
    }

    .button {
        max-width: 100px; 
        padding: 12px; 
        font-size: 15px; 
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    table {
        display: table; 
        overflow: visible; 
    }

    th, td {
        padding: 15px; 
    }

    .button {
        max-width: 100px; 
        padding: 10px 20px; 
        font-size: 16px; 
    }

    input[type="text"], 
    input[type="email"], 
    input[type="password"], 
    textarea[name="address"], 
    input[type="number"], 
    select {
        width: 90%; 
    }

    .modal-content {
        width: 80%; 
        max-width: 600px; 
    }
}

@media screen and (min-width: 1025px) {
    table {
        display: table; 
    }
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea[name="address"], 
input[type="number"], 
select {
    width: 95%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

input[type="submit"] {
    background-color: #28a745; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

input[type="submit"]:hover {
    background-color: #218838; 
}

.button {
    display: inline-block; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.button-edit {
    background-color: #4c7aaf; 
    color: white; 
}

.button-edit:hover {
    background-color: #385c85; 
    color: white;
}

.button-add {
    background-color: #46a54b; 
    color: white; 
}

.button-add:hover {
    background-color: #36682e; 
    color: white;

}

.button-delete {
    background-color: #f44336; 
    color: white; 
}

.button-delete:hover {
    background-color: #e53935; 
    color: white;

}

.button-back {
    background-color: #007bff; 
    color: white; 
}

.button-back:hover {
    background-color: #0056b3; 
    color: white;

}

.button-container {
    display: flex;
    justify-items: center;
}

.alert {
    padding: 15px; 
    margin-bottom: 20px; 
    border: 1px solid transparent; 
    border-radius: 4px; 
}

.alert-success {
    color: #155724; 
    background-color: #d4edda; 
    border-color: #c3e6cb; 
}

.alert-danger {
    color: #721c24; 
    background-color: #f8d7da; 
    border-color: #f5c6cb; 
}

.modal {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
}

.modal-content {
    background-color: white; 
    padding: 20px; 
    border-radius: 4px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    width: 90%; 
    max-width: 500px; 
}

img {
    width: 50px;
    height: 50px;
}

.currency-input {
    display: flex;
    align-items: center;
}

.currency-input input {
    width: 100px; 
    padding-left: 25px; 
}

.currency-label {
    margin-right: 5px; 
}
